<div class="header">
	Heading
	
</div>
<div style="display:flex" id="main">
	<nav style="width: 300px" id="nav">
		<ul>
			<li>
				<a routerLink="/page1" routerLinkActive="active">Burmese Input</a>
			</li>
			<li>
				<a routerLink="/page2" routerLinkActive="active">Print PDF</a>
			</li>
			<li>
				<a routerLink="/page3" routerLinkActive="active">Web Image Capture</a>
			</li>
			<li>
				<a routerLink="/page4" routerLinkActive="active">Image Compression</a>
			</li>			<li>
				<a routerLink="/page5" routerLinkActive="active">ngrx-data</a>
			</li>
		</ul>

	</nav>
	<div #contentArea id="content">
		<router-outlet>

		</router-outlet>
	</div>

</div>
<div class="footer">

</div>